@page "/calificacion_contratante"
@using CurrieTechnologies.Razor.SweetAlert2
@using Orquesta.Shared.Entities
@using Orquesta.WEB.Repositories
@using Orquesta.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager


<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-person" /> Calificación Agrupación
            <a class="btn btn-primary btn-sm float-end" href="/contratante/create"><i class="bi bi-plus-circle" /> Nueva Calificación</a>
        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="calificacion_Contratantes">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>


                            <b>Id</b>
                            <td><b>Puntaje</b></td>
                            <td><b>Comentario</b></td>
                            <td><b>Id contratante</b></td>
                            <td><b>Id representante</b></td>

                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in calificacion_Contratantes!)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Puntaje</td>
                                <td>@item.Comentario </td>
                                <td>@item.ContratanteId</td>
                                <td>@item.RepresentanteId</td>

                                <td>
                                    <a href="/calificacion_contratante/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"/> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<Calificacion_Contratante> calificacion_Contratantes { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Calificacion_Contratante>>("/api/calificacion_contratante");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        calificacion_Contratantes = responseHttp.Response;
    }



    private async Task DeleteAsycn(Calificacion_Contratante calificacion_Contratantes)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar la calificación: {calificacion_Contratantes.Id}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Calificacion_Agrupacion>($"/api/calificacion_contratante/{calificacion_Contratantes.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("calificacion_contratante");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}